<%- contentFor('bread') %>
    <div class="col s12 ">

    </div>

    <%- contentFor('body') %>
        <h4 style="text-align: justify;">
            <%=title%>
        </h4>
        <div class="center">
            <i  class="material-icons large">mood_bad</i>
        </div>